@use "../../variables.modules" as variables;

.iconlink * {
    border-color: var(--text-color);
    color: var(--text-color);
}

.iconlink:hover * {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.icon {
    padding: 0;
}