@use "../../variables.modules" as variables;

.iconlink *,
.iconlink_dark * {
    border-color: variables.$dark !important;
    color: variables.$dark;
    transition: variables.$transition;
}

.iconlink:hover * {
    background-color: variables.$dark;
    color: variables.$white;
}

.iconlink_dark * {
    border-color: variables.$white !important;
    color: variables.$white;
}

.iconlink_dark:hover * {
    background-color: variables.$white;
    border-color: variables.$dark !important;
    color: variables.$dark;
}

.icon {
    padding: 0;
}