@use "../../variables.modules" as variables;

.iconLink * {
    color: var(--text-color);
}

.iconLink:hover * {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.iconBox {
    border: 2px solid var(--text-color);
    border-radius: 25px;
    padding: 0.5rem 0.75rem;
}