@import "../../variables.modules";

.iconlink:hover * {
    background-color: $dark;
    border-color: $dark !important;
    color: $white;
    transition: 0.2s;
}

.dark {
    .iconlink * {
        background-color: red;
        border-color: red !important;
        color: #fff;
        transition: 0.2s;
    }
}