@use "../../variables.modules" as variables;

.toggleButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: variables.$transition;

    &:hover {
        padding-top: 2px;
        padding-bottom: 0;
    }

    &,
    &:active {
        padding-top: 0;
        padding-bottom: 2px;
    }

    &:active {
        transition: none;
    }
}

.toggleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svgIcon {
    @extend .toggleIcon;
}

.faIcon {
    @extend .toggleIcon;
    width: 24px;
    height: 24px;
}