@import "../variables.modules";

.dark {
    background-color: $dark;
    color: $white;
    transition: $transition;

    a,
    i,
    li {
        color: $white;
    }

    a:visited {
        color: $white;
    }
}

.light {
    background-color: $white;
    color: $dark;
    transition: $transition;
}