@use "../variables.modules" as variables;

.dark {
    background-color: variables.$dark;
    color: variables.$white;
    transition: variables.$transition;

    a,
    i,
    li {
        color: variables.$white;
    }

    a:visited {
        color: variables.$white;
    }
}

.light {
    background-color: variables.$white;
    color: variables.$dark;
    transition: variables.$transition;
}