@use "../variables.modules" as variables;

.dark {
    background-color: variables.$dark;
    color: variables.$white;
    transition: variables.$transition;

    a,
    i,
    li {
        color: inherit;
    }

    a:visited {
        color: variables.$white;
    }
}

.light {
    background-color: variables.$white;
    color: variables.$dark;
    transition: variables.$transition;
}

footer a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: inherit;
    }
}