@use "../variables.modules" as variables;

.navLink {
  display: inline-block;
  transition: variables.$transition;

  &:hover {
    padding-top: 0;
    padding-bottom: 10px;
  }

  &,
  &:active {
    padding-top: 2px;
    padding-bottom: 8px;
  }

  &:active {
    transition: none;
  }
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

.initials {
  @media (max-width: 480px) {
    display: none;
  }
}