@use "./variables.modules" as variables;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: variables.$transition;
}

li {
    color: var(--text-color);
}

a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

a {
    color: var(--text-color);
    transition: variables.$transition;
}

a:hover {
    color: variables.$lightgray;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

footer {
    font-size: 0.6875rem;
    line-height: 1rem;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: inherit;
        }
    }
}